/* start globel roles */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
  }
  :root {
      --main-color: #E8684D ;
      --main-transition : 0.3s ;
  }
  html {
      scroll-behavior: smooth;
      margin: 0;
      padding: 0;
  }
  a {
    text-decoration: none;
  }
  body {
      font-family: 'Cairo', sans-serif;
      margin: 0;
  }
  .containar {
      margin-left: auto;
      margin-right: auto;
      padding: 0 15px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 1200px){
  .container {
      width: 1170px;
  }
  }
  @media (min-width:992px) {
    .containar {
    max-width: 1140px;
  }
  }
  @media (max-width:1220px) {
    .containar {
    padding: 0 50px;
  }
  }
  @media (max-width:500px) {
    .containar {
    padding: 0 15px;
  }
  }
  /* end globel roles */
/* title */
  .title {
    color: #000000;
    font-size: 32px;
    font-weight: bold;
    padding: 100px 0;
    width: 142px;
    position: relative;
    line-height: 1.2;
    
}
.title::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 10px;
    background-color: var(--main-color);
    bottom: 104px;
    z-index: -1;

}
/* title */

  header{
    background-color: #000000;
   position: relative;
   height: 100px;
  }
  header .containar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    position: relative;
}
 header .containar .logo img {
    width: 196px;
  }
  header .header-icon {
    display: flex;
   
    align-items: center;
    gap: 10px;
}
header .header-icon img {
    width: 28px;
    margin-left: 21px;
}
/* end header  */
/* start landing */
.landing {
    background-color: #000000;
}
.landing .text {
    flex-basis: 50%;
}
.landing .containar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 100px);
    position: relative;
}
.landing .text h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0;
    text-transform: capitalize;
}
.landing .text p {
    font-size: 18px;
    font-weight: normal;
    color: #cecaca;
    line-height: 1.5;
  
}
.landing .image img {
    font-size: 40px;
    font-weight: bold;
    color: white;
    max-width: 415px;
    margin-right: -70px;
   
}
@media (max-width:992px) {
    .landing .image img  {
        display: none;
    }
    .landing  .text {
        max-width: 600px;
    }
    .landing .containar {  
        justify-content: center;
        text-align: center;
    }
    .landing .text {
        flex-basis: 100%;
    }
  }
  @media (max-width:720px) {
    .landing .text h1 {
        font-size: 28px;
       
    }
    .landing .text p {
        font-size: 17px;
        margin: 10px auto;
     
    }
  }
/* end landing */
/* :start portfolio  */
.portfolio {
    padding: 0 0 100px 0;
}
.grid-image {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 100px;
}

.grid-image img {
    width: 100%;
}
@media (max-width:992px) {
    .grid-image {
        padding: 0 50px;
    }
  }
@media (max-width:750px) {
    .grid-image {
        gap:10px;
    }
    .grid-image {
        padding: 0 15px;
    }
  }
  @media (max-width:500px) {
    .grid-image {
        padding: 0 15px;
    }
  }
/* end portfolio  */
/* start Testimonials */
.Testimonials {
    padding: 0 0 100px 0;
    height: 100vh;
    position: relative;
}
.Testimonials .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Testimonials  .title {
    width: 210px;
}
.Testimonials .icon {
    text-align: center;
}
.Testimonials .icon  img {
    height: 75px;
}
.Testimonials h2 {
    text-align: center;
    margin: 0;

}
.Testimonials  p {
    width: 500px;
    text-align: center;
    font-size: 19px;
    font-weight: normal;
   
    line-height: 1.3;
}
.Testimonials .content img {
    height: 15px;
}
.test-content {
    position: relative;
    top: 150px;
   }
@media (max-width:720px) {
    .Testimonials .content img {
        display: none;
    }
    .Testimonials .content {
        justify-content: center;
    }
    .Testimonials .icon img {
        height: 50px;
    }
    .test-content {
      top: 0;
    }
    
    
  }
/* .content img {
    display: none;
} */
/* end Testimonials */
/* start contact  */
.contact {
    padding: 0 0 100px;
}
.contact-text h3 {
    font-size: 56px;
    font-weight: bold;
    margin: 0;
    width: 300px;
}
.contact-text p {
    font-size: 17px;
}
.contact-text span {
    font-size: 18px;
    font-weight: bold;
    margin: 4px 0 0 0;
}
.grid-contact {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}
input {
    /* width: 240px; */
    height: 54px;
    background-color: #fffdfb;
    border: 1.5px solid #000000;
    color: #000000;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.contact-subject {
    /* width: 395px; */
    height: 54px;
    background-color: #fffdfb;
    border: 1.5px solid #000000;
    color: #000000;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
button {
    display: inline-block;
    padding: 10px 20px;
    height: 54px;
    background-color: #000000;
    color: #fffdfb;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    position: absolute;
    width: 41%;
    bottom: 0;
}
textarea {
    /* width: 395px; */
    height: 126px;
    background-color: #fffdfb;
    border: 1.5px solid #000000;
    color: #000000;
    font-size: 16px;
    padding: 20px;
}
.flex-contect- {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 200px;
}
.flex-contect {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 200px;
}
.continar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.contact-text {
    flex-basis: 40%;
}
@media (max-width:860px) {
    .contact-text {
        flex-basis: 100%;
    }
    .flex-contect- {
        height: fit-content;
    }
    .flex-contect {
        order: -1;
    }
    button {
        width: 100%;
        transform: translateY(150%);
    }
    .grid-contact {
        flex-direction: column-reverse;
    }
}
@media (max-width:1222px) {
    .continar {
        gap: 50px;
        justify-content: center;
    }
    .contact-text {
        flex-basis: 62%;
    }
}


.footer {
    background-color: #000000;
    padding: 50px 0;
    text-align: center;
    color: white;
}
.footer span {
    color: var(--main-color);
}
/* end contact  */
.hover{
    position: absolute;
    left: 0;
    z-index: 0;
    transition: var(--main-transition);
    opacity: 0;
}
.portfolio-image {
    position: relative;
} 
.grid-image img:hover.hover{
   opacity: 1;
} 